# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Artifacts
reports/figures/*.png
models/*.pkl

# MLflow (keep tracked only if required by evaluator)
# mlruns/